BOT_API= use @BotFather
FOLLOWME_API= Get key from  info@followme.mv / https://followme.mv/api/
ADMIN_CHAT_ID= Chat id of admin user. use @WhatChatIDBot
MAIN_UPDATES_CHANNEL= Channel where all notifications are sent